*{
    margin: 0;
    padding: 0;
}

:root{
    --white-color: #ffffff;
    --dark-violet-color: #3d2da6;
    --dark-blue-color: #07338c;
    --dark-navy-blue-color: #021740;
    --pale-pink-color: #f2cef2;
    --lavender-color: #9e91b7;
    --light-lavender-color: #df99f2;

    
    --h1-font-size: 68px;
    --h1-font-style: normal;

    
    --h2-font-size: 32px;
    --h2-font-style: normal;

   
    --h2-enigme-font-size: 43px;
    --h2-enigme-font-style: normal;

    
    --texte-enigme-font-size: 43px;
    --texte-enigme-font-style: normal;

   
    --texte-font-size: 16px;
    --texte-font-style: normal;

    --citation-font-size: 14px;
    --citation-font-style: normal;

    --footer-font-size: 10px;
    --footer-font-style: normal;
} 

@font-face {
    font-family: panthera;
    src: url(../fonts/panthera.otf) format('opentype');
}

@font-face {
    font-family: beyno;
    src: url(../fonts/BEYNO.otf) format('opentype');
}

 @font-face {
    font-family: wakanda;
    src: url(../fonts/WakandaForever-Regular.ttf) format('truetype');
}

font-face {
    font-family: cantarell;
    src: url(../fonts/Cantarell-Regular.ttf) format('truetype');
}

/* ACCUEIL */
body{
    background-image: url(/assets/images/all-pages/arrière_plan.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}
.navbar {
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    
}

.vertical-line {
    /* position: absolute;
    left: 30px;
    top: 0;
    bottom: 0;
    width: 2px;
    height: 20000000000%;
    background-color: #fff; */
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: var(--lavender-color);
}

.vertical-line.left {
    left: 20px;
    height: 7.3cm;
}

.vertical-line.right {
    left: 40px; 
    height: 4cm;
}

.icon-facebook{
    position: absolute;
    top: 10rem;
    left: 30px;
}
.icon-instagram{
    position: absolute;
    top: 12rem;
    left: 30px;
}
.icon-twitter{
    position: absolute;
    top: 14rem;
    left: 30px;
}
.icon-tiktok{
    position: absolute;
    top: 16rem;
    left: 30px;
}
.navbar .logo img {
    height: 20px; 
    padding: 10px;
    margin-left: 60px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    font-family: beyno;
    
}
.navbar li {
    margin: 0;
}

.navbar li a {
    display: block;
    color: var(--white-color);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar li a:hover {
    color: var(--lavender-color);
    text-decoration: underline;
}

.navbar li a.active {
    color: var(--lavender-color);
    text-decoration: underline;
}

footer{
    background-image: url(/assets/images/all-pages/back_footer.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}