*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --white-color: #ffffff;
    --dark-violet-color: #3d2da6;
    --dark-blue-color: #07338c;
    --dark-navy-blue-color: #021740;
    --pale-pink-color: #f2cef2;
    --lavender-color: #9e91b7;
    --light-lavender-color: #df99f2;

    
    --h1-font-size: 68px;
    --h1-font-style: normal;

    
    --h2-font-size: 32px;
    --h2-font-style: normal;

   
    --h2-enigme-font-size: 43px;
    --h2-enigme-font-style: normal;

    
    --texte-enigme-font-size: 43px;
    --texte-enigme-font-style: normal;

   
    --texte-font-size: 16px;
    --texte-font-style: normal;

    --citation-font-size: 14px;
    --citation-font-style: normal;

    --footer-font-size: 10px;
    --footer-font-style: normal;
} 

@font-face {
    font-family: panthera;
    src: url(../fonts/panthera.otf) format('opentype');
}

@font-face {
    font-family: beyno;
    src: url(../fonts/BEYNO.otf) format('opentype');
}

 @font-face {
    font-family: wakanda;
    src: url(../fonts/WakandaForever-Regular.ttf) format('truetype');
}

font-face {
    font-family: cantarell;
    src: url(../fonts/Cantarell-Regular.ttf) format('truetype');
}

body{
    background-image: url(/assets/images/all-pages/arrière_plan.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}
/* ACCUEIL */

.navbar {
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    
}

.vertical-line {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: var(--lavender-color);
}

.vertical-line.left {
    left: 20px;
    height: 7.3cm;
}

.vertical-line.right {
    left: 40px; 
    height: 4cm;
}

.icon-facebook{
    position: absolute;
    top: 10rem;
    left: 30px;
}
.icon-instagram{
    position: absolute;
    top: 12rem;
    left: 30px;
}
.icon-twitter{
    position: absolute;
    top: 14rem;
    left: 30px;
}
.icon-tiktok{
    position: absolute;
    top: 16rem;
    left: 30px;
}
.navbar .logo img {
    height: 20px; 
    padding: 10px;
    margin-left: 60px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    font-family: beyno;
    
}
.navbar li {
    margin: 0;
}

.navbar li a {
    display: block;
    color: var(--white-color);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar li a:hover {
    color: var(--lavender-color);
    text-decoration: underline;
}

.navbar li a.active {
    color: var(--lavender-color);
    text-decoration: underline;
}
/* MAIN */

/* banner */
#banner{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px,1fr));
    grid-auto-rows: minmax(100px, auto);
    gap: 20px;
}
.text-banner{
    margin-top: 8rem;
    margin-left: 8rem;
}
 .h1-banner{
    font-family: panthera;
    font-size: 68px;
    color: var(--light-lavender-color);
}
.h2-banner{
    font-family: beyno;
    font-size: 32px;
    color: var(--light-lavender-color);
}
.para-banner{
    padding-top: 20px;
    font-family: cantarell;
    font-size: 16px;
    color: var(--white-color);
} 
.lien-banner{
    color: var(--white-color);
}
.pantherhome1{
    width: 660px;
}

/* actors */
#actors{
    margin: 0.8rem;
}
.pantherhome2{
    width: 250px;
    position: relative;
    top: 0rem;
    left: 3.2rem;
}
.pantherhome3{
    width: 184px;
    position: absolute;
    left: 664px;
    top: 35.3rem;
}
.pantherhome4{
    width: 135px; 
    position: absolute;
    left: 1199.3px;
    top: 35.3rem;
}
.actor{
    text-align: justify;
    background-color: var(--dark-navy-blue-color); 
    height: 12.5rem;
    padding:10px;
}
.actor-border{
    background-color: var(--dark-navy-blue-color);
    width: 200px;
    height: 210px;
    position: absolute;
    left: 52px;
    top: 36rem;
}
.para-position-1{
    position: absolute;
    top: 36rem;
    left: 314px;
    width: 350px;
}
.para-position-2{
    position: absolute;
    top: 36rem;
    left: 848px;
    width: 350px;
}
.h2-actor{
    font-family: beyno;
    font-size: 32px;
    color: var(--light-lavender-color);
    padding-bottom: 0.8rem;
}
.para-actor{
color: var(--white-color);
font-family: cantarell;
padding-bottom: 0.8rem;
}

/* history */
#history{
    
    display: grid;
    grid-template-columns: 2fr 1fr ;
    gap: 20px;
    /* grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    grid-auto-rows: minmax(100px, auto);
    gap: 20px; */
    color: #9e91b7;
}




















footer{
    background-image: url(/assets/images/all-pages/back_footer.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}